body
{
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.home .navbar-nav {
  margin-left: 9%;
}
.home .navbar-nav li {
  margin-left: 30px;
}
.home .navbar-nav li i {
  margin-top: 13px;
}
.home .navbar {
  border-bottom: 1px solid rgba(221, 221, 221, 0.25);
  font-size: 16px;
}
.home .navbar-light .navbar-toggler-icon {
  background-image: none;
}
.navbar-light .navbar-toggler {
  background-color: #fff;
  color: #000;
}
.home .navbar-toggler-icon {
  width: 3em;
}
.home .nav-item .special {
  color: #feac00 !important;
}
.home .nav-item .nav-link:hover {
  color: #feac00 !important;
}
.home .items a {
  color: #fff !important;
}
.home .nav-item i {
  font-size: 20px;
  color: #fff;
}
.home .nav-item i:hover {
  color: #feac00;
}
.home .dropdown-menu a {
  color: #000 !important;
}
.home .dropdown-menu a:hover {
  color: #feac00 !important;
  background-color: transparent;
}
.home .navbar-brand {
  font-size: 30px;
}
.home {
    background-image: url(../images/banner1.jpg);
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
  }
  .content a , p
  {
      margin-right: 15px;
      text-decoration: none;
  }
  .content a
  {
      color: #feac00;
  }

  .content .about ,p
  {
      color: #fff;
  }
  .home .layer {
    width: 100%;
  
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
  }
  .team h2
{
font-size: 40px;
font-weight: 700;
margin-bottom: 30px;
}
.team .caption
{
    padding: 20px;
}
.team p
{
    color: #777;
}
.team .icons 
{
  color: #333;
  margin-left:25%;
}
.team .icons i
{
    margin-right: 30px;
}
.team img
{
  border-radius: 10px;
}
.team .item
{
  position: relative;
  overflow: hidden;
}
.team .layer
{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 10px;
}
.team .layer:hover
{
  opacity: 0.8;

}
.footer
{
  background-color: #222;
  padding: 60px;
}
.footer p
{
  font-size: 15px;
    color: #777;
    font-weight: normal;
    letter-spacing: .5px;
}
.footer h2
{
  color: #fff;
  font-size: 20px;
}
.footer h5
{
  color: #777;
  font-size: 25px;
}
.footer span
{
  color: #feac00;
}
.footer .icons i
{
  color: #fff;
  margin-left: 25px;
  margin-top: 20px;
}
.footer ul li 
{
  font-size: 15px;
    color: #777;
    margin-top: 10px;
}
.footer ul li a
{
  font-size: 15px;
    color: #777;
    text-decoration: none;
}
.footer ul li a:hover
{
  color: #555;
}
.footer ul li:hover
{
    color: #555;
}
.footer .special  ul li 
{
  font-size: 15px;
    color: #777;
    margin-top: 15px;
}
@media screen and (max-width: 1100px) and (min-width: 767px) {
    .team .icons
  {
    margin-left:20%;
  }
  }
  @media screen and (max-width: 766px) and (min-width: 320px) {
    .team .icons
    {
    margin-left: 20%;
    }
  }
  @media screen and (max-width: 1100px) and (min-width: 767px) {
    .footer .icons
  {
    margin-bottom: 20px;
    margin-left: 5px !important;
  }
  }
  @media screen and (max-width: 766px) and (min-width: 320px) {
    .footer .icons
    {
    margin-bottom: 20px;
    margin-left: 5px !important;

    }
  }
  